<form method="post" action="{{ path('app_note_delete', {'id': note.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ note.id) }}">
    <button class="btn btn-danger">{{ button_label|default('Supprimer') }}</button>
</form>
