{% extends 'base.html.twig' %}

{% block title %}Détails du tag{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Détails du tag</h1>
    <p>ID: {{ tag.id }}</p>
    <p>Nom: {{ tag.nom }}</p>
    
    <a href="{{ path('app_tag_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>
{% endblock %}
