{% extends 'base.html.twig' %}

{% block title %}Modifier l'état{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Modifier l'état</h1>

    <div class="card mb-4">
        <div class="card-body">
            {{ include('etat/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        </div>
    </div>

    <div class="d-flex gap-2">
        <a href="{{ path('app_etat_index') }}" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Retour à la liste
        </a>

        {{ include('etat/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
