{% extends 'base.html.twig' %}

{% block title %}Nouvel État{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Créer un nouvel état</h1>

    <div class="card mb-4">
        <div class="card-body">
            {{ include('etat/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('app_etat_index') }}" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Retour à la liste
    </a>
</div>
{% endblock %}
