{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block navbar %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
            <h1 class="display-4 mb-4">Bienvenue sur l'application</h1>
            <p class="lead mb-5">Connectez-vous ou créez un compte pour continuer</p>
            
            <div class="d-grid gap-3 col-md-8 mx-auto">
                <a href="{{ path('app_login') }}" class="btn btn-primary btn-lg">Se connecter</a>
                <a href="{{ path('app_register') }}" class="btn btn-outline-secondary btn-lg">Créer un compte</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}